{
  "fabric": "{{data.fabric}}",
  "networkName": "{{data.networkName}}",
  "displayName": "{{data.displayName}}",
  "networkId": "{{data.networkId}}",
  "networkTemplate": "{{data.networkTemplate}}",
  "networkExtensionTemplate": "{{data.networkExtensionTemplate}}",
  "networkTemplateConfig": "{{newConfig}}",
  "vrf": "{{data.vrf}}",
  "tenantName": "{{data.tenantName}}",
  "serviceNetworkTemplate": "{{data.serviceNetworkTemplate}}",
  "interfaceGroups": "{{data.interfaceGroups}}",
  "hierarchicalKey": "{{data.hierarchicalKey}}"
}
