{
  "sourceFabric": "{{sourceFabric}}",
  "destinationFabric": "{{destinationFabric}}",
  "sourceInterface": "{{sourceInterface}}",
  "destinationInterface": "{{destinationInterface}}",
  "templateName": "ext_fabric_setup",
  "nvPairs": {
    "asn": "{{asn}}",
    "IP_MASK": "{{ip_mask}}",
    "NEIGHBOR_IP": "{{neighbor_ip}}",
    "NEIGHBOR_ASN": "{{neighbor_asn}}",
    "MTU": "9216",
    "AUTO_VRF_LITE_FLAG": "false",
    "PEER1_DESC": "",
    "PEER2_DESC": "",
    "PEER1_CONF": "",
    "PEER2_CONF": "",
    "VRF_LITE_JYTHON_TEMPLATE": "Ext_VRF_Lite_Jython"
  },
  "sourceDevice": "{{sourceDevice}}",
  "destinationDevice": "{{destinationDevice}}",
  "sourceSwitchName": "{{sourceSwitchName}}",
  "destinationSwitchName": "{{destinationSwitchName}}"
}
