{
  "fabricName": "AUTOMATION-LAB-MSD",
  "templateName": "MSD_Fabric",
  "nvPairs": {
    "FABRIC_NAME": "AUTOMATION-LAB-MSD",
    "L2_SEGMENT_ID_RANGE": "30000-49000",
    "L3_PARTITION_ID_RANGE": "50000-59000",
    "default_vrf": "Default_VRF_Universal",
    "default_network": "Default_Network_Universal",
    "vrf_extension_template": "Default_VRF_Extension_Universal",
    "network_extension_template": "Default_Network_Extension_Universal",
    "ANYCAST_GW_MAC": "2020.0000.00aa",
    "MS_LOOPBACK_ID": "100",
    "TOR_AUTO_DEPLOY": "false",
    "FABRIC_TYPE": "MFD",
    "FF": "MSD",
    "MSO_CONTROLER_ID": "",
    "MSO_SITE_GROUP_NAME": "",
    "PREMSO_PARENT_FABRIC": "",
    "DCNM_ID": "",
    "MS_IFC_BGP_PASSWORD_ENABLE_PREV": "",
    "MS_IFC_BGP_AUTH_KEY_TYPE_PREV": "",
    "MS_IFC_BGP_PASSWORD_PREV": "",
    "BORDER_GWY_CONNECTIONS": "Direct_To_BGWS",
    "RP_SERVER_IP": "",
    "BGP_RP_ASN": "",
    "MS_UNDERLAY_AUTOCONFIG": "true",
    "DELAY_RESTORE": "300",
    "CLOUDSEC_AUTOCONFIG": "false",
    "CLOUDSEC_KEY_STRING": "",
    "CLOUDSEC_ALGORITHM": "",
    "CLOUDSEC_ENFORCEMENT": "",
    "CLOUDSEC_REPORT_TIMER": "",
    "MS_IFC_BGP_PASSWORD_ENABLE": "false",
    "MS_IFC_BGP_PASSWORD": "",
    "MS_IFC_BGP_AUTH_KEY_TYPE": "",
    "LOOPBACK100_IP_RANGE": "10.100.0.0/24",
    "DCI_SUBNET_RANGE": "10.100.1.0/24",
    "DCI_SUBNET_TARGET_MASK": "30",
    "enableScheduledBackup": "",
    "scheduledTime": ""
  }
}
